@media (max-width: 576px) {
    .navbar-nav {
      .nav-item:hover {
        a {
          background-color: transparent;
          color: $color-green !important;
        }
      }  
    }
  
    nav {
      padding: 10px;
    }
  
    .navbar-nav {
      .nav-item {
        a {
          margin: 15px 0;
        }
      }
    }
  
    .hapolearn-banner1 {
      div {
        position: static;
        margin-left: 10% !important;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
  
        h1 {
          @include font-UTM(normal, 25px, 31px);
        }
  
        img {
          width: 45px;
          height: 40px;
        }
  
        p {
          @include font-UTM(normal, 16px, 20px);
        }
  
        a {
          align-self: center;
          margin-left: -50px;
          margin-top: 20px;
        }
      }
    }
  }
  
  @media (max-width: 769px) {
    .navbar-nav {
      .nav-item {
        margin: 10px 5px;
        padding-bottom: 10px;
      }
    }
  
    .hapolearn-banner1 {
      div {
        h1 {
          @include font-UTM(normal, 30px, 37px);
        }
  
        p {
          @include font-UTM(normal, 16px, 20px);
        }
  
        a {
          width: 200px;
          height: 38px;
          @include font-UTM(bold, 16px, 20px);
          padding-top: 5px;
        }
      }
    }
  }

  